
{% extends 'halls/base.html' %}

{% block content %}
 <div class="container">
 <h2>Add Video</h2>
 <form method="post">
 {% csrf_token %}
 {% load widget_tweaks %}
 {% for field in form%}
 <div class="form-group{% if fields.errors %} alert alert-danger{% endif %}">
{{ field.errors }}
{{ field.label_tag }}
{%render_field field class="form-control" %}
 </div>
 {% endfor %}
 <button type="submit" class="btn btn-primary">Create</button>
 </form>
<br>
 <h2>OR</h2>
 {% for field in search_form%}
 <div class="form-group">
{{ field.errors }}
{{ field.label_tag }}
{%render_field field class="form-control" %}
 {% endfor %}
<div class="search_results"></div>
 </div>
{% endblock %}